.container {
    margin: 0 auto;
    padding: 30px 0 30px 0;
    background-color: #f2f5f7;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #000000;
}

.alert {
    display: none;
}

.p_txt {
    padding: 0 0 20px 0;
    font-style: italic;
    color: #565759;
    text-align: center;
}

.table {
    margin: 30px 0 0 0;
}

.star {
    color: red;
}

